{% extends "templates/web.html" %}
{% block page_content %}
<div class="container">
        <div class="rows">
            <div class="col-md-6 ">
                <img class="background_img" src="assets/testerpnext/images/photo.png" id="image1"/>
                <h1 id="item1">jjj</h1>
                <p id="descr1">mmmmmmm</p>
                 <button>Quantity</button>
                <button id="buy_btn">Buy</button>
            </div>
             <div class="col-md-6 ">
                <img class="background_img" src="assets/testerpnext/images/photo.png" id="image2"/>
                <h1 id="item2">jjj</h1>
                <p id="descr2">mmmmmmm</p>
                 <button>Quantity</button>
                <button id="buy_btn2">Buy</button>
            </div>
        </div><br/>

</div>
{% endblock %}


{% block sidebar %}{% endblock %}

